.Cart {
    margin-top:95px;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            display: flex;
            flex-direction: row;

            &:first-of-type {
                @media (max-width: 750px) {
                    padding-right: 55px;
                }
            }
            .top {
                width: 145px;
                padding-right: 125px;
                margin-right: -25px;
                @media (max-width: 1250px) {
                    width: 85px;
                }
                @media (max-width: 950px) {
                    width: 35px;
                }
                @media (max-width: 750px) {
                    width: 5px;
                    margin-right: -55px;
                    padding-right: 125px;
                }
            }
            p {
                width: 240px;
                margin-inline: 10px;
                font-size: 21px;
                text-align: center;
                @media (max-width: 1250px) {
                    width: 175px;
                }
                @media (max-width: 950px) {
                    width: 125px;
                }
                @media (max-width: 750px) {
                    font-size: 18px;
                    width: 65px;
                }
                span {
                    color: goldenrod;
                }

                &:nth-of-type(1) {
                    left: 20px;
                }
            }
        }
        .deleteFromCart {
            font-size: 28px;
            margin: auto;
            color: rgb(129, 5, 5);
            margin-inline: 40px;

            &:hover {
                transition: 0.3;
                color: #000;
                cursor: pointer;
            }
        }
        h4 {
            font-size: 25px;
        }
        button {
            margin-top: 25px;
            height: 50px;
            width: 160px;
            border: 2px double #fff;
            border-radius: 11.5px;
            font-size: 21px;
            background: greenyellow;
            cursor: pointer;
            &:hover {
                transition: 0.25s;
                border: 2px double #000;
                background: rgb(113, 189, 0);
            }
        }
    }
    .green {
        color: green;
    }
    .gold {
        color: goldenrod;
    }
}