.Navbar {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;

        li {
            margin-inline: 15px;
            width: 105px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.3);
            padding: 15px;
            border-radius: 10px;
            margin-top: 25px;
            font-weight: 600;
            font-size: 20px;

            &:last-of-type {
                position: absolute;
                right: 75px;
            }

            &:hover {
                background: rgba(0, 0, 0, 1);
                color: #fff;
                transition: 0.7s ease-out;
            }
        }
    }
}