.Navbar {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        .shopCartLink {
            position: absolute;
            right: 75px;
        }
        li {
            margin-inline: 15px;
            width: 105px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            background: rgba(47, 54, 64, 0.3);
            padding: 15px;
            border-radius: 10px;
            margin-top: 25px;
            font-weight: 600;
            font-size: 20px;
            color: #000;
            text-decoration: none;

            &:hover {
                background: rgba(47, 54, 64, 1);
                color: #fff;
                transition: 0.7s ease-out;
            }
            &:hover > .cartItemsNumber {
                background: #4cd137;
                transition: 0.7s ease-out;
                color: #fff;
            }
            .cartItemsNumber {
                background: #ffb067;
                color: #000;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                margin: auto;
                p {
                    margin-top: 8px;
                }
            }
        }
    }
}
